{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<form action="/sell" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text" required>
    </div>

    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" name="shares" placeholder="Number of Shares" type="number" min="1" required>
    </div>

    <button class="btn btn-primary" type="submit">Sell</button>
</form>


    <br>
    {% if stock %}
        <h2>Stock</h2>
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Stock Size</th>
                    <th>Price</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ stock['symbol'] }}</td>
                    <td>{{ amount }}</td>
                    <td>{{ stock['price'] }}</td>
                    <td>{{ balance }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}
